.footer{
  display: flex;
  padding-top: 40px;
  padding: 40px 16px 8px;
  border-top: 1px solid #21262d;
  background-color: #0d1117;
  justify-content: center;
}

.link {
  margin-right: 10px;
  color: #58a6ff;
  font-size: 14px;
}

.item:hover {
  text-decoration: underline;
  text-decoration-color: #58a6ff;
}