.header {
  padding: 16px 32px 0;
  background-color: #0d1117;
  box-shadow: inset 0 -1px 0 #21262d;
}
.headerWrapper {
  display: flex;
  justify-content: space-between;
}
.titleWrapper {
  font-size: 20px;
  color: #58a6ff;
}
.name {
  color: #58a6ff;
  font-weight: 500;
}
.title {
  color: #58a6ff;
  font-weight: 700;
}
.buttonContainer {
  display: flex;
  padding-bottom: 16px;
}

.circle {
  width: 30px;
  height: 18px;
  line-height: 16px;
  border-radius: 20%;
  background-color: #30363C;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
}