.modal {
  width: 300px;
  border-radius: 6px;
  border: 1px solid #30363C;
  box-shadow: 0 8px 24px  #010409;;
  background: #161B22;
  position: absolute;
  z-index: 99;
  color: #fff;
  display: none;
}

.header {
  padding: 7px 7px 7px 16px;
  border-bottom: 1px solid #21262d;
  display: flex;
  align-items: center;
}

.header > span {
  flex: 1;
  font-weight: 800;
  font-size: 12px;
}

.header > button {
  border: none;
  background-color: transparent;
  fill: #8B949E;
}

.opened {
  display: block;
}

.input {
  padding: 8px;
}

.input > input {
  box-shadow: none;
  border: 1px solid  #30363C;
  background-color: #0E1117;
  border-radius: 6px;
  width: 100%;
  padding: 5px 12px;
  line-height: 20px;
}