.tabList {
  display: flex;
}
.tab {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0 10px;
  padding-bottom: 15px;
  margin-right: 10px;
  min-width: 80px;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.selected {
  border-bottom: 2px solid #f78166;
  box-sizing: border-box;
  font-weight: 800;
}